* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
}
body {
    background-color: #e4c1f9;
}
h1 {
    color: #f694c1;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
.flex-container {
    background-color: #fdc8eb;
    border: 2px solid #f1a6d8;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}
.flex-item {
    background-color: #f7eea9;
    margin: 8px;
    padding: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    
}

.container{

    border: 2px solid #fdc8eb;
    display: flex;
    flex-direction: row;
     justify-content: space-around;
    align-items: center;
   
}

.subcontainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.subcontainer2{
    display: flex;
    flex-direction: row;

    align-items: center;
}
.pinterest{
    
    display: flex;
    flex-direction: row;
    align-items: center;
}
.column{
    display: flex;
    flex-direction: column;
    align-items: center;
}