body {
    line-height: 1.6;
    margin: 20px;
    background-color: #a7c957;
    font-family: Arial, sans-serif;
}
/*selector de clase*/
.class-selector {
    color: #b688c8;
    font-size: 40px;
    font-weight: bold;
}
/*selector por ID*/
#id-selector {
    color: #272727;
    font-size: 35px;
    font-style: italic;
}
/*combinacion de selectores*/
#selectores_universal_combinaciones{
    color: #386641;
    font-size: 25px;
}

#selectores_universal_combinaciones p {
    color: #af3131;
    font-size: 23px;
}
#selectores_universal_combinaciones ul li strong {
    color: #f60469;
    font-size: 15px;
}
/*si tienes una coma no son selectores de combinacion,  es un selector multiple*/
p, li {
    color: #272727;
    font-size: 20px;
}

.display_block {
    margin: 25px 0 25px 0;
    display: block;
  background-color: #b688c8;
  
}
.display_inline {
    margin: 25px 0 25px 0;
    display: inline;
    background-color: aqua;
    color: aliceblue;
    
} 
.display_inline-block {
    margin: 10px 0 10px 0;
    display: inline-block;
    background-color: #f60469;
}
.display_inline-block_2 {
    margin: 10px 0 10px 0;
    display: inline-block;
    background-color: #fd0f8a;
}
.pseudo_hover {
    background-color: green;
    color: #fff;
    border-radius: 15px;
    border: #a7c957 solid 2px;
    font-size: 25px;
    padding: 25px 10px 25px 10px;

}
.pseudo_hover:hover {
    background-color: #a7c957;
    color: #386641;
    border: #386641 solid 2px;
    font-size: 25px;
    
}
.pseudo_focus {
    padding: 10px;
    border-radius: 5px;
    border: #77d4df solid 2px;
    
    

}.pseudo_focus:focus {
    background-color: #8a5d81;
    border: #eb9eda solid 2px;
    
    
}
.pseudo_active {
    padding: 10px;
    border-radius: 5px;
    border: #452e3e solid 2px;
    background-color: rgba(rgba(255, 0, 0, 0.518);
    
}.pseudo_active:active {
    background-color: #8a5d81;
    border: #eb9eda solid 2px;
    
}