body {
    line-height: 1.6;
    margin: 20px;
    background-color: #a7c957;
    font-family: Arial, sans-serif;
}
/*selector de clase*/
.class-selector {
    color: #b688c8;
    font-size: 40px;
    font-weight: bold;
}
/*selector por ID*/
#id-selector {
    color: #272727;
    font-size: 35px;
    font-style: italic;
}
/*combinacion de selectores*/
#selectores_universal_combinaciones{
    color: #386641;
    font-size: 25px;
}

#selectores_universal_combinaciones p {
    color: #af3131;
    font-size: 23px;
}
#selectores_universal_combinaciones ul li strong {
    color: #f60469;
    font-size: 15px;
}
/*si tienes una coma no son selectores de combinacion,  es un selector multiple*/
p, li {
    color: #272727;
    font-size: 20px;
}

.display block {
    margin: 10px 0 10px 0;
    display: block;
  background-color: #b688c8;
  
}
.display inline {
    margin: 25px 0 10px;
    display: inline;
    background-color: aqua;
    
}
.display inline-block {
    margin: 10px 0 10px 0;
    display: inline-block;
    background-color: #f60469;
}